@model MvcModels.Models.Writer

@{
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    <br />
    <br />
    <div class="form-horizontal divTable">
        <h4>הוספת סופר</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group tableRow">
            <div class="tableCol">
                @Html.EditorFor(model => model.FullName)
                @Html.ValidationMessageFor(model => model.FullName)
            </div>
            @Html.LabelFor(model => model.FullName, new { @class = "tableCol" })
        </div>

        <div class="tableRow">
            <div class="tableButton">
                <input type="submit" value="הוספה" class="btn btn-default" />
            </div>
        </div>
    </div>
}