@model MvcModels.Models.Library

@{
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
 
    <br />
    <br />   
    <div class="form-horizontal divTable">
        <h4>הוספת ספריה</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group tableRow">
           
            <div class="tableCol">
                @Html.EditorFor(model => model.LibraryAddress)
                @Html.ValidationMessageFor(model => model.LibraryAddress)
            </div>
            @Html.LabelFor(model => model.LibraryAddress, new { @class = "tableCol" })
        </div>

        <div class="form-group tableRow">

            <div class="tableCol">
                @Html.EditorFor(model => model.LibraryName)
                @Html.ValidationMessageFor(model => model.LibraryName)
            </div>
            @Html.LabelFor(model => model.LibraryName, new { @class = "tableCol" })
        </div>

        <div class="form-group tableRow">
            <div class="tableButton">
                <input type="submit" value="הוספה" class="btn btn-default" />
            </div>
        </div>
    </div>
}
